/* .about-header {
  position: relative;
} */

/* .about-header .about-banner {
  position: absolute;
  display: block;
  height: 80vh;
  position: relative;
  z-index: -1;
} */

.about-banner {
  background: #000;
}

.about-banner div {
  background-image: url("../../images/img-3.jpg");
  display: block;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.about-heading {
  white-space: pre-wrap;
  position: relative;
  bottom: 240px;
  color: white;
}

.about-body {
  margin-top: 50px;
}

.about-content {
  text-align: justify;
}
