.blog {
  overflow: hidden;
  position: relative;
  font-size: 100px;
}

.blog:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: translate(-100%);
  background: #00bcd4;
  transition: 0.3s linear;
}
.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear;
}
