@media (max-width: 1400px) and (min-width: 689px) {
  .search-button {
    width: 300px;
    margin-left: 880px;
  }
}

@media (max-width: 688px) and (min-width: 320px) {
  .search-button {
    width: 160px;
    margin-left: 160px;
  }
}
