.banner img {
  width: 100%;
}

.banner-image {
  background: #000;
}

.banner-image div {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.banner-heading {
  white-space: pre-wrap;
  position: relative;
  bottom: 310px;
}

.banner-heading h3 {
  color: orangered;
}

.banner-heading h2 {
  color: white;
}

@media (max-width: 1400px) and (min-width: 689px) {
  .banner img {
    height: 100vh;
  }
}

@media (max-width: 688px) and (min-width: 320px) {
  .banner img {
    height: 50vh;
  }
}
